.container {
  display: flex;
  padding: 60px 100px;
  justify-content: space-between;
  border-top: 2px solid #d9d9d9;
  margin-top: 20px;
  text-align: start;
}

p {
  color: #6a6a6a;
  font-size: 15px;
  line-height: 1.5;
}

.footer-text {
  width: 30%;
}

.icons {
  color: #6a6a6a;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.footer-links > ul {
  color: #6a6a6a;
  list-style: none;
  font-size: 15px;
  padding: 0;
  line-height: 2;
}

.footer-newsletter {
  width: 30%;
}

.footer-newsletter input {
  width: 90%;
  border: 1px solid #d9d9d9;
  height: 20px;
  font-size: 15px;
  padding: 10px;
}

.footer-newsletter button {
  border: 1px solid #0071e3;
  color: white;
  padding: 10px;
  font-size: 15px;
  background-color: #0071e3;
  text-transform: uppercase;
  margin-top: 20px;
}
